DISCORD_TOKEN=

MONGODB_URI=


LAVALINK_NODE1_HOST=
LAVALINK_NODE1_PORT=
LAVALINK_NODE1_PASSWORD=
LAVALINK_NODE1_SECURE=


LAVALINK_NODE2_HOST=
LAVALINK_NODE2_PORT=
LAVALINK_NODE2_PASSWORD=
LAVALINK_NODE2_SECURE=

# DISCONTINUED!!!!!!!!! WILL BE REMOVED IN FUTURE RELEASES
FLASK_SECRET_KEY=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:5000/callback
WEB_HOST=0.0.0.0
WEB_PORT=5000


